@using TicketSystemProject.Models.ViewModels
@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex justify-content-center align-items-center"
     style="min-height: 75vh;">

    <div class="card shadow p-4"
         style="width: 400px; border-radius:15px;">

        <h3 class="text-center mb-4"
            style="color:#286398; font-weight:600;">
            Register
        </h3>

        <form asp-controller="Account" asp-action="Register" method="post">

            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text"
                       name="Name"
                       class="form-control"
                       placeholder="Enter your full name"
                       required />
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email"
                       name="Email"
                       class="form-control"
                       placeholder="Enter your email"
                       required />
            </div>

            <div class="mb-4">
                <label class="form-label">Password</label>
                <input type="password"
                       name="Password"
                       class="form-control"
                       placeholder="Create a password"
                       required />
            </div>

            <div class="d-grid mb-3">
                <button type="submit"
                        class="btn text-white"
                        style="background-color:#286398; border-radius:8px;">
                    Register
                </button>
            </div>

        </form>

        <div class="text-center">
            <span class="text-muted">
                Already have an account?
            </span>
            <a asp-controller="Account"
               asp-action="Login"
               style="color:#286398; font-weight:500; text-decoration:none;">
                Login
            </a>
        </div>

    </div>

</div>
